<nz-layout>
  <nz-header>
    <div class="header-wrapper">
      <div class="logo"></div>
      <div class="right-wrapper">
        <div class="top-nav">
          <app-menu></app-menu>
        </div>
        <div class="user-panel">
          <app-user-panel></app-user-panel>
        </div>
      </div>
    </div>
  </nz-header>
  <nz-content>
    <main class="inner-content">
      <app-breadcrumbs></app-breadcrumbs>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </main>
  </nz-content>
  <nz-footer>anyForce © 2020</nz-footer>
</nz-layout>