@import './../../../../assets/styles/variables.scss';

.field-manager {
  padding-top: 5px;
  > .ant-row {
    height: inherit;
  }
}

.entity-list {
  @include scrolling-shadows;
  max-height: calc(100vh - 315px);
  min-height: calc(100vh - 315px);
  overflow: auto;
  cursor: pointer;
  border-right: 1px solid map-get($map: $utility, $key: 'highlight');
  &:hover {
    // @include scroll-shadow;
    @include scrolling-shadows;
    overflow: auto;
  }
  nz-list-item {
    padding: 12px;
    padding-right: 28px;
    &:hover {
      background-color: map-get($map: $utility, $key: 'highlight');
    }
    .content {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
