/* You can add global styles to this file, and also import other style files */
@import '~ng-zorro-antd/src/style/index.min.css';
@import '~ng-zorro-antd/layout/style/index.min.css';
@import '~ng-zorro-antd/breadcrumb/style/index.min.css';
@import '~ng-zorro-antd/menu/style/index.min.css';
@import '~ng-zorro-antd/button/style/index.min.css';
@import '~ng-zorro-antd/dropdown/style/index.min.css';
@import '~ng-zorro-antd/page-header/style/index.min.css';
@import '~ng-zorro-antd/drawer/style/index.min.css';
@import '~ng-zorro-antd/card/style/index.min.css';
@import '~ng-zorro-antd/checkbox/style/index.min.css';
@import '~ng-zorro-antd/grid/style/index.min.css';
@import '~ng-zorro-antd/list/style/index.min.css';
@import '~ng-zorro-antd/input/style/index.min.css';
@import '~ng-zorro-antd/notification/style/index.min.css';
@import '~ng-zorro-antd/form/style/index.min.css';
@import '~ng-zorro-antd/skeleton/style/index.min.css';
@import '~ng-zorro-antd/modal/style/index.min.css';
@import '~ng-zorro-antd/message/style/index.min.css';
@import '~ng-zorro-antd/switch/style/index.min.css';
@import '~ng-zorro-antd/input-number/style/index.min.css';
@import '~ng-zorro-antd/date-picker/style/index.min.css';
@import '~ng-zorro-antd/space/style/index.min.css';
@import '~ng-zorro-antd/popconfirm/style/index.min.css';

// ag-Gird styles
@import '~ag-grid-community/dist/styles/ag-grid.scss';
@import '~ag-grid-community/dist/styles/ag-theme-alpine/sass/ag-theme-alpine.scss';
@import '~ag-grid-community/dist/styles/ag-theme-alpine-dark/sass/ag-theme-alpine-dark.scss';

// Angular CDK
@import '~@angular/cdk/overlay-prebuilt.css';

// Override Ant Design Style

.ant-page-header {
  padding: 0 0 10px;
}

.ant-empty.fit-height {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  user-select: none;
}

nz-list-item-meta.empty {
  opacity: 0.5;
}

// Custom Overlay
.column-toggle-overlay {
  background-color: transparent;
}

// Sentry
.sentry-error-embed .form-submit .powered-by {
  display: none !important;
}

// Custom helper classes...
.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}
